{% extends 'base.html' %}
{% block title %}
    Our products
{% endblock %}
{% block content %}
<div class="container">
  <h1 class="text-center mt-5">Products Sold</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="../../static/images/pens.jpeg" class="card-img-top" alt="Course 1">
        <div class="card-body">
          <h5 class="card-title">Pencils</h5>
          <p class="card-text">Get all types of pencils in our store.</p>
          <a href="#" class="btn btn-primary">Pay Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="../../static/images/books.jpeg" class="card-img-top" alt="Course 2">
        <div class="card-body">
          <h5 class="card-title">Books</h5>
          <p class="card-text">Get all types of books in our.</p>
          <a href="#" class="btn btn-primary">Pay Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="../../static/images/uniform.jpeg" class="card-img-top" alt="Course 3">
        <div class="card-body">
          <h5 class="card-title">Uniforms</h5>
          <p class="card-text">Get the latest uniforms in our store.</p>
          <a href="#" class="btn btn-primary">Pay Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="../../static/images/track.jpeg" class="card-img-top" alt="Course 4">
        <div class="card-body">
          <h5 class="card-title">Track-suits</h5>
          <p class="card-text">Get different types of tack-suites with different colours.</p>
          <a href="#" class="btn btn-primary">Pay Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="../../static/images/balls.jpeg" class="card-img-top" alt="Course 5">
        <div class="card-body">
          <h5 class="card-title">Balls</h5>
          <p class="card-text">Get all types of balls in our store.</p>
          <a href="#" class="btn btn-primary">Pay Now</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img src="../../static/images/sets.jpeg" class="card-img-top" alt="Course 6">
        <div class="card-body">
          <h5 class="card-title">Geometrical sets</h5>
          <p class="card-text">Get all types of geometrical sets from our store.</p>
          <a href="#" class="btn btn-primary">Pay Now</a>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}